<header>
  <div class="topnav" id="navBar">
    <a routerLink="/" class="logo">Ragini Mathur</a>
    <nav>
      <!----<ul>
        <li><a routerLink="HomeComponent#about" class="home">About</a></li>
        <li><a routerLink="HomeComponent#work">Work</a></li>
        <li><a routerLink="\..\home\home.component.html#contact">Contact</a></li> -->
        <!-- <li><a href="javascript:void(0);" class="icon" onclick="responsiveNavBar();"><i class="bars"></i></a></li -->
      </ul>
    </nav>
  </div>
</header>

