<div class="home" id="about">
  <img class="profile_img" src="..\..\assets\profile.jpg" alt="profile" />
  <h1>Ragini Mathur</h1>
  <h3> Web/Mobile Developer </h3>
  <div class="short-description">
      <p>I am passionate about building excellent software that improves the lives of those around me. 
          Based in India, I specialize in creating responsive, user-friendly websites and mobile apps with a fresh and 
          clean design that is easy to navigate and enhances user's browsing experience</p>
  </div>
  <div class="angular-div" id="work">
    <img src="..\..\assets\myxl_1.jpg">
    <img src="..\..\assets\myxl_2.jpg">
    <h2>myXL Postpaid</h2>
    <p>An Android, iOS and Web Application for postpaid account management for Indonesian users, packed into an exclusive and user-friendly interface.</p>
    <p class="technology-heading">Technology</p>
    <p>myXL Postpaid is built with Angular and Firebase for push notification. Integrated with Google Analytics and GTM for data analytics. A Node.js server acts as a middle-man, handling back-end logic and database updates.</p>
    <div class="tech-used">
      <img src="..\..\assets\angular.png" width="100" height="50">
      <img src="..\..\assets\nodejs.png" width="100" height="50">
      <img src="..\..\assets\firebase.png" width="100" height="50">
      <img src="..\..\assets\googleAnalytics.png" width="100" height="50">
    </div>
    <button>Go to app</button>
    <button>Go to website</button>
  </div>
  <div class="tools-used">
    <h2>Tools I Use</h2>
    <div class="tech-used">
      <img src="..\..\assets\xcode2.jpg" width="100" height="50">
      <img src="..\..\assets\androidStudio.jpg" width="100" height="50">
      <img src="..\..\assets\sublime.png" width="100" height="50">
      <img src="..\..\assets\aptana2.jpg" width="100" height="50">
      <img src="..\..\assets\visualStudio.png" width="100" height="50">
      <img src="..\..\assets\svn.jpg" width="100" height="50">
    </div>
  </div>
  <div id="contact">
    <p>Contact</p>
  </div>
</div>